<p>Sehr geehrte<%= (@recipient.salutation == 'Herr') ? 'r' : '' %> <%= @recipient.salutation %> <%= @recipient.first_name %> <%= @recipient.last_name %>,</p>

<p>ihre E-Mail Adresse wurde erfolgreich im Newsletter eingetragen.</p>

<p>Mit freundlichen Grüßen,</p>

<p>Das Team</p>

<p>Falls Sie den Newsletter in Zukunft nicht mehr erhalten wollen, klicken Sie bitte hier:</p>

<p><%= link_to @recipient.unsubscribe_url, @recipient.unsubscribe_url %></p>